# fly.toml app configuration file generated for enchant-king

app = "enchant-king"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PHX_HOST = "enchant-king.fly.dev"
  PORT = "4000"

[http_service]
  internal_port = 4000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[mounts]
  source = "enchant_data"
  destination = "/data"
